# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/**/node_modules
/**/dist
/**/build
/**/.env*
/**/.idea
/**/package-lock.json
/**/credentials.example.json

/backend/prisma/migrations
/backend/prisma/.client
/backend/environment/*
/backend/coverage

!/backend/**/.env.example
!/backend/environment/redis
!/backend/environment/postgres
!/backend/environment/ratings.json

