.navbar {
  background-color: white;
  border-bottom: 2px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: block;
  background-image: url('./../../public/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 30px;
  margin-right: 10px;
}

.searchBar:focus {
  border: 1px solid cornflowerblue;
  box-shadow: none;
  outline: 0;
}

.account-container .user {
  outline: 0;
  border: 0;
  padding: 10px;
  margin-left: 20px;
  background: none;
  border-radius: 5px;
}

.account-container .user:hover {
  background-color: #f5f5f5;
}

.account-container .user a {
  text-decoration: none;
  color: #333;
}