.question-action {
  margin-top: 20px;
}

.question-action .content {
  width: 66vw;
  margin: 0 auto;
}

.question-action .content .question-item {
  margin: 15px 0;
}

.question-action .content .tags {
  margin-top: 10px;
}

.question-action .content .tags ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.question-action .content .tags ul .tagItem {
  background-color: #edf5fd;
  padding: 5px;
  color: #155ca2;
}

.question-action .content .tags ul .tagItem button {
  margin-left: 5px;
  background-color: #edf5fd;
  border: none;
  color: #155ca2;
  cursor: pointer;
}

.question-action .content .btn-create-question {
  margin-bottom: 100px;
}

#tags-suggestions {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

#tags-suggestions .tooltip-arrow {
  display: none;
}

#tags-suggestions .tooltip-inner {
  border: none;
  border-radius: 0;
  background: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: fit-content;
}

#tags-suggestions.show {
  opacity: 1;
}

#tags-suggestions .tooltip-inner .row {
  flex-wrap: nowrap;
}

#tags-suggestions .tag-suggestion .item {
  text-wrap: nowrap;
  padding: 5px;
}

#tags-suggestions .tag-suggestion .tagName {
  font-weight: bold;
  color: #155ca2;
}

#tags-suggestions .tag-suggestion .tagRate {
  font-weight: 300;
  color: black;
}

#tags-suggestions .tag-suggestion .item:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

