.tagNames {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tagNames li {
  display: inline;
  margin-right: 5px;
  background-color: #edf5fd;
  padding: 5px;
  color: #155ca2;
}

.tagNames li a {
  text-decoration: none;
}